.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  min-height: 100vh;
}

/* .description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
} */

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.circularImageContainer {
  position: relative;
  margin-bottom: 3rem;
}

.circularImage {
  border-radius: 50%;
  overflow: hidden;
  width: 180px; 
  height: 180px; 
  box-shadow: 0 0 30px rgba(2, 152, 207, 0.4);
}

.logo {
  width: 100%;
  height: 100%;
}


.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.topLeft {
  position: fixed;
  top: 20px; 
  left: 20px;
  height: 50px; 
  width: 50px; 
  padding-top: 15px;
  font-size: .75rem;
  text-align: center;
  text-justify: center;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: 50%;
}

.topLeft:hover {
  border: 1px solid white;
}

#detailsCard {
  text-align: center;
}

#contactImagesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width:  150px;
  margin: 1rem auto;
}

.contactImage {
  width: 25px;
  margin: .5rem;
  position: relative;
}
.contactImage:hover {
  transform: scale(1.1);
}

.contactText {
  visibility: hidden;
  width: 250px;
  background-color: rgb(20, 20, 20);
  color: white;
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgb(131, 134, 135);
  padding: 5px 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.contactImage:hover + .contactText {
  visibility: visible;
  opacity: 1;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {

  .circularImageContainer {
    position: relative;
 
  }
  
  .circularImage {
    border-radius: 50%;
    overflow: hidden;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
  }

  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(4fr, minmax(100px, 20%));
    
    
  }
  
}

