.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
}

#gridContainer {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 400px, auto;
  top: 1500px;
  width: 60%;
}

#projectText {
  margin-bottom: 100px;
  text-align: center;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  width: 100%;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.topLeft {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
  padding-top: 15px;
  font-size: 0.75rem;
  text-align: center;
  text-justify: center;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: 50%;
}

.topLeft:hover {
  border: 1px solid white;
}

#detailsCard {
  text-align: center;
}

#contactImagesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 150px;
  margin: 1rem auto;
}

.contactImage {
  width: 25px;
  margin: 0.5rem;
  position: relative;
}
.contactImage:hover {
  transform: scale(1.1);
}

#crossWordContainer {
  position: relative;
  width: 100%;
  height: 100px;
}

#resourcesGrid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, minmax(14.2%, 14.2%));
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
    ". . . projects . . crypticText"
    "cuckmere  . . . . . cryptics"
    "cuckText . sea sea sea . ."
    ".  . sea sea sea . ."
    " . . sea sea sea seaText  ."
    "robby robText . . . cogText cognition";

  justify-items: center;
  height: 45vh;
  width: 55vw;
  margin-top: 10vh;
}

.cuckText {
  grid-area: cuckText;
  position: relative;
}

.crypticText {
  grid-area: crypticText;
}

.seaText {
  grid-area: seaText;
  position: relative;
}

.robText {
  grid-area: robText;
  position: relative;
}

.cogText {
  grid-area: cogText;
  position: relative;
}

.projects {
  grid-area: projects;
  padding: 0.1vw;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  font-size: 12px;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  transition: transform 1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1.5);
  box-shadow: 0 0 30px rgba(2, 152, 207, 0.4);
}
.projects:hover {
  border: 1px solid white;
  transform: scale(1.5);
  z-index: 1000;
}

.crossWord {
  grid-area: cryptics;
  width: 120px;
}

#robby {
  grid-area: robby;
  width: 120px;
}

#cognition {
  grid-area: cognition;
  width: 120px;
}

#cuckmere {
  grid-area: cuckmere;
  width: 120px;
}

.sea {
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(2, 152, 207, 0.4);
  grid-area: sea;

  /* width: 100%;
  height: 100%; */
}

.crossWord img,
#robby img,
#cognition img,
#cuckmere img,
.sea img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
  transition: transform 1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1.5);
  box-shadow: 0 0 40px rgba(2, 152, 207, 0.6);
}

.crossWord:hover img,
#robby:hover img,
#cognition:hover img,
#cuckmere:hover img,
.projects:hover img,
.sea:hover img {
  transform: scale(1.1);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(4fr, minmax(100px, 20%));
  }

  .crossWord,
  #robby,
  #cognition,
  #cuckmere {
    width: 100px;
    height: 100px;
  }

  .sea {
    width: 140px;
    height: 140px;
  }
}
/* Mobile */
@media (max-width: 700px) {
  .circularImageContainer {
    /* position: relative; */
  }

  .crossWord,
  #robby,
  #cognition,
  #cuckmere {
    width: 70px;
    height: 70px;
  }

  .sea {
    width: 110px;
    height: 110px;
  }

  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }
}
