.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  height: 1000vh;
  position: relative;
}

#detailsCard {
  position: fixed;
  top: 35%;
  text-align: center;
}

#detailsCard h1 {
  font-size: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
}

#gridContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  top: 80%;
  width: 100%;
  background-color: black;
  z-index: 1000;
}

#projectText {
  margin-bottom: 100px;
  text-align: center;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  width: 100%;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.topLeft {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
  padding-top: 15px;
  font-size: 0.75rem;
  text-align: center;
  text-justify: center;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: 50%;
}

.topLeft:hover {
  border: 1px solid white;
}

#contactImagesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 150px;
  margin: 1rem auto;
}

.contactImage {
  width: 25px;
  margin: 0.5rem;
  position: relative;
}
.contactImage:hover {
  transform: scale(1.1);
}

.scrollSeaContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.projects {
  z-index: 1000;
  grid-area: projects;
  padding: 0.1vw;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  font-size: 12px;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  transition: transform 1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1.5);
  box-shadow: 0 0 30px rgba(2, 152, 207, 0.4);
}
.projects:hover {
  border: 1px solid white;
  transform: scale(1.5);
  z-index: 1000;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(4fr, minmax(100px, 20%));
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }
}
